.profile_banner {
    height: 300px;
    width: 100%;
    background-size: cover;
}

.profile_change {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profile_change_img {
    height: 20%;
    filter: invert(1);
}