.admin-game {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: url('https://images.unsplash.com/photo-1557683316-973673baf926');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 70px 70px 20px 70px;
    box-sizing: border-box;
}

.admin-game-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.admin-game-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 300px;    
}

.admin-game-present {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 70%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.admin-game-image {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}

.admin-game-description-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
    width: 100%;
    height: 100%;
    min-width: 0;
    gap: 10px;
}

.admin-game-description {
    width: 100%;
    height: 100%;

    text-overflow: ellipsis;
    word-break: break-word;
    hyphens: auto;

    overflow-y: auto;

    text-wrap: wrap;
    scrollbar-width: thin;
    scrollbar-color: #e69005 #0000;
}

.admin-game-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.admin-game-name {
    font-size: 3rem;
    font-weight: bold;
    color: #000;

    /* pas de retour à la ligne */
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #e69005 #0000;
}

.admin-game-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.admin-game-description {
    font-size: 1.5rem;
    color: #555;
}

.admin-game-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    width: 100%;
}

.admin-game-stock {
    font-size: 1.5rem;
    color: #555;
    width: 100%;
}

.admin-game-selling {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 30%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.admin-game-sell {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.admin-game-sell-value {
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    color: #555;
}

.admin-game-reports {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 400px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.admin-game-reviews {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.admin-game-tags {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.admin-game-tags-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.admin-game-tags-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    height: 100%;

    overflow-x: auto;
    scrollbar-width: thin;
    max-width: 100%;
    scrollbar-color: #e69005 #f5f5f5;
}

.admin-game-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #e69005;
}

.admin-game-tag-label {
    font-size: 1.5rem;
    color: #000;
}

.admin-game-tag-delete {
    cursor: pointer;
    position: relative;
    top: -10px;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-in-out;
}

.admin-game-tag-delete:hover {
    transform: scale(1.1);
}

.add-tag {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e69005;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    padding: 5px;
}

.add-tag:hover {
    background-color: #f49702;
}

.add-tag-icon {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}

.add-tag-icon.cross {
    transform: rotate(45deg);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
     
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 10;
}

.fade-in {
    animation: fadeInUp 0.3s ease-out forwards;
}

.fade-out {
    animation: fadeOutDown 0.3s ease-out forwards;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

.modal-input {
    margin-top: 10px;
}

.modal-button-submit {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #e69005;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
}

.admin-game-action-button:hover {
    background-color: #f5a623;
}

.admin-game-action {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #555;

    cursor: pointer;
    transition: all 0.3s;
}

.admin-game-action-ordered {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #aaa;
}

.admin-game-action:hover {
    background-color: #ddd;
}

.admin-game-edit {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
}

.admin-game-edit-close {
    position: absolute;
    top: 70px;
    right: 10%;
    margin-right: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 2.9px solid #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
}

.admin-game-edit-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 80%;
    height: 80%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f5f5f5;
}

.admin-game-edit-content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.admin-game-edit-input-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.admin-game-edit-input-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #555;
    padding: 10px;
    box-sizing: border-box;
}

.admin-game-edit-label {
    font-size: 1.5rem;
    color: #000;
    width: 150px;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-game-edit-input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
}

.admin-game-edit-input.desc {
    font-size: 1rem;
    /* Can't be resized */
    resize: none;
}

.admin-game-edit-save-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.admin-game-edit-save {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size-adjust: 0.58;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
}

.admin-game-edit-save:hover {
    background-color: #45a049;
}

.admin-game-edit-input-separator {
    height: 100%;
    width: 1px;
    min-width: 1px;
    background-color: #000;
}

.admin-game-edit-images-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 40%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #555;
    padding: 10px;
    box-sizing: border-box;
}

.admin-game-edit-image-container {
    height: 100%;
    width: 100%;
}

.admin-game-edit-label {
    font-size: 1.5rem;
    color: #000;
    width: 150px;
    text-align: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.admin-game-edit-image-separator {
    height: 1px;
    min-height: 1px;
    width: 100%;
    background-color: #000;
}

.admin-game-edit-image-label {
    font-size: 1.5rem;
    color: #000;
    width: 100%;
    height: 85px;
    min-height: 35px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-game-edit-checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 20px;
    cursor: pointer;
}

.admin-game-edit-checkbox-container * {
    cursor: pointer;
}

.admin-game-edit-checkbox {
    width: 20px;
    height: 20px;
}
.admin-game-edit-checkbox-label {
    font-size: 1.2rem;
    color: #000;
}