.header_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 100;
}
.header {
    background: linear-gradient(70deg, #ffd821, #ffa415);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 24px;
    padding: 0 20px;
    box-sizing: border-box;
}

.header_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
    gap: 20px;
}

.header_nav_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_nav_item a {
    color: black;
    text-decoration: none;
}

.header_cart {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header_cart_img {
    height: 50%;
    margin-right: 10px;
}

.header_cart_img:hover {
    transform: scale(1.1);
}

.header_logo {
    height: 110%;
    margin-right: -15px;
}

.header_profile {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header_profile_img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.header_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 70%;
    width: 250px;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 0 5px;
    box-sizing: border-box;
    margin-right: 10px;
}

.header_search_input {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 16px;
    outline: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.header_search_button {
    height: 85%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
}

.header_cart_number {
    position: absolute;
    top: 10px;
    right: 78px;
    width: 12px;
    height: 12px;
    background-color: #f00;
    border-radius: 50%;
}