.delivery-methods {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #fff;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.delivery-methods-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.delivery-methods-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;

    /* Scrollable */
    overflow-x: auto;
    scrollbar-width: thin;
    max-width: 100%;
    scrollbar-color: #e69005 #f5f5f5;
}

.delivery-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.add-delivery-method {
    /* C'est un bouton, le rendre rond et au bonne couleur */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e69005;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    padding: 5px;
}

.add-delivery-method:hover {
    background-color: #f49702;
}

.add-delivery-method-icon {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}

.add-delivery-method-icon.cross {
    transform: rotate(45deg); /* Rotation de 45 degrés pour former une croix */
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
}

.modal {
    position: absolute;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 10;
    transform: translate(-50%, -50%);
}

.fade-in {
    animation: fadeInUp 0.3s ease-out forwards;
}

.fade-out {
    animation: fadeOutDown 0.3s ease-out forwards;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content input, .modal-content button {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #45a049;
}
