.last-orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.orders-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.view-all-orders {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f49702;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: auto;
}

.view-all-orders:hover {
    background-color: #f5a623;
}