.item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
    gap: 4%;    
}

.item-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 80%;
}

.image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 5px;
    object-fit: cover;
}

.info-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 1.5rem;
}

.description {
    font-size: 1rem;
    color: #777;
    max-height: 50px;
    overflow: auto;
    text-overflow: ellipsis;
    scrollbar-width: thin;
    scrollbar-color: #e69005 #f5f5f5;
}

.quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.quantity_btn {
    font-size: 1.5rem;
    color: #e69005;
    cursor: pointer;
    border: none;
    background: none;

    transition: all 0.2s;
}

.quantity_btn:hover {
    color: #e6a005;
}

.quantity_btn:active {
    transform: scale(1.1);
}

.quantity_btn:disabled {
    color: #777;
    cursor: default;
}

.quantity_label {
    font-size: 1.5rem;
    text-align: center;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70px;
}

.price_label {
    font-size: 1.5rem;
}

.total_price {
    font-size: 1rem;
    color: #777;
}

.remove {
    font-size: 2rem;
    color: #e69005;
    cursor: pointe²r;
    border: none;
    background: none;
    cursor: pointer;
}