.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 100%;
    padding: 30px;
    background-color: #e0e0e0;
    gap: 40px;
}

.summary-title {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
}

.summary-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 5px;
    width: 100%;
}

.main {
    border-top: #aaa 1px solid;
    padding-top: 10px;
    width: 100%;
    gap: 15px;
}

.subtotal {
    flex-direction: row;
    font-size: 1.5rem;
    color: #777;
    justify-content: space-between;
}

.summary-shipping {
    font-size: 1.5rem;
    color: #000;
}

.summary-shipping-info {
    font-size: 0.8rem;
    color: #777;
}

.summary-discount {
    font-size: 1.5rem;
    color: #000;
}

.summary-input {
    font-size: 1rem;
    color: #777;
    width: 100%;
    padding: 5px 15px;
    background-color: #0000;
    border: 1px solid #777;
    border-radius: 3px;
    box-sizing: border-box;
}

.total {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    border-top: #aaa 1px solid;
    padding-top: 10px;
    flex-direction: row;
    font-size: 1.8rem;
    color: #555;
}

.checkout {
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(70deg, #ffd821, #ffa415);
    color: #000;
    border: none;
    cursor: pointer;
}